STORAGE_MODE=local
LOCAL_DATA_ROOT=data

ADLS_STORAGE_ACCOUNT=yourstorageaccount

ADLS_LANDING_CONTAINER=landing
ADLS_BRONZE_CONTAINER=bronze
ADLS_SILVER_CONTAINER=silver
ADLS_GOLD_CONTAINER=gold
ADLS_ANALYTICS_CONTAINER=analytics
ADLS_AUDIT_CONTAINER=audit